<!DOCTYPE html>
<html class="no-focus-outline">
  <head>
    <meta charset="utf-8">
    <title>Renzil DSouza</title>
    {{#favicons}}
    {{> favicons}}
    {{/favicons}}
    {{#fonts}}
    {{> fonts}}
    {{/fonts}}
    {{#gtag}}
    {{> gtag}}
    {{/gtag}}
    {{#pixel}}
    {{> pixel}}
    {{/pixel}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container-fluid px-0">
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>