<!DOCTYPE html>
<html class="no-focus-outline">
  <head>
    <meta charset="utf-8">
    <title>Renzil DSouza</title>
    {{#favicons}}
      {{> favicons}}
    {{/favicons}}
    {{#fonts}}
      {{> fonts}}
    {{/fonts}}
    {{#gtag}}
      {{> gtag}}
    {{/gtag}}
    {{#pixel}}
      {{> pixel}}
    {{/pixel}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    {{> terms}}
    {{> footer}}
  </body>
</html>